<div id="poster">
</div>
<!--<div id="overlay"></div>-->
<div id="today-I">
  <span id="today-i">Today, I </span><span id="verb"
	                                   contenteditable="true">a</span><span id="end-of-verb"></span> <span id="item"
	                                                                                                       contenteditable="true"></span>
  <div id="tip">
  </div>
  <div id="spinner">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
</div>
<div id="timeline">
</div>
<script src="/javascripts/jquery.autoGrowInput.js"></script>
