/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    background-color:#EFEFE9;
    padding:0;
    margin:0;
}

ul {
    list-style:none;
    padding:0px;
}

#today-I {
    color:rgba(0,0,0,.9);
    font-family: 'Chau Philomene One', sans-serif;
    font-size:70px;
    text-align:center;
    background-color:rgba(239, 239, 233, .2);
    width:960px;
    margin-left:auto;
    margin-right:auto;
    text-shadow:0px 0px 10px white;
    margin-top:300px;
    height:300px;
}

div#timeline {
    width:960px;
    margin-left:auto;
    margin-right:auto;
    color:rgba(0,0,0,.7);
    font-family: 'Chau Philomene One', sans-serif;
    font-size:20px;
    background-color:rgba(239, 239, 233, .5);
    margin-top : 40px;
}

span#verb, span#item{
    outline:0px;
}

span#end-of-verb{
    color:rgba(0,0,0,.3);
}

div#tip {
    color:rgba(0,0,0,.1);
    font-size:20px;
}

div.thumbnail {
    cursor:pointer;
    -moz-box-shadow: 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 5px #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    border:1px solid rgba(0,0,0,.5);
    width:150px;
    height:150px;
    overflow:hidden;
    float:left;
    margin:4px;
}

div.thumbnail:hover {
    box-shadow: 0px 0px 7px rgba(42, 132, 202, 1);
}

div.thumbnail img{
}

div#poster {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:-1000;
}

div#overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:-500;
    background-color:rgba(239, 239, 233, .3);
}

div.block {
    float:left;
    width:10%;
//    height:200px;
    padding:0px;
    margin:0px;
    overflow:hidden;
//    border:1px solid rgba(0,0,0,1);
}

div#spinner {
    display:none;
}

.fclear{
    clear:both;
}

@media only screen and (max-width: 500px) {
    div.block {
        width:25%;
    }
}

@media only screen and (min-width: 500px) {
    div.block {
        width:20%;
    }
}

@media only screen and (min-width: 600px) {
    div.block {
        width:16.66%;
    }
}

@media only screen and (min-width:800px) {
    div.block {
        width:12.5%;
    }
}

@media only screen and (min-width:1000px) {
    div.block {
        width:10%;
    }
}
